.card {
    display: flex;
    height: 550px;
    width: 300px;
    background-color: #caddb1;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #393838;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    top: 40px;
}

.card:not(:first-child) {
    margin-left: -30px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}
